h1{
    color: #056604;
    font-size: 80px;
}
p{
    font-size: 40px;
}

h4{
    color: rgb(4, 4, 69);
    font-size: 80px;
}

.heading1{
    color: orange;
    font-size: 60px;
}
.heading2{
    color: yellow;
    font-size: 60px;
}

#heading3{
    color: blue;
    font-size: 50px;
}

#heading4{
    color: pink;
}

.heading5{
    color: maroon;
}
#heading6{
    color: blueviolet;
    background-color: antiquewhite;
    font-size: 60px;
}

.heading_f_size{
    font-size: 80px;
}

.h_color1{
    color: yellow;
}
.h_color2{
    color: hotpink;
}
.h_color3{
    color: darkred;
}
.h_background{
    background-color: aqua;
}

.h_font_family{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.t_transform_uppercase{
    text-transform: uppercase;
}
.t_transform_lowercase{
    text-transform: lowercase;
}
.t_transform_capitilize{
    text-transform: capitalize;
}
.heading_color{
    color: red;
}

.t_align_center{
    text-align: center;
}

.t_decoration_overline{
    text-decoration: overline;
}
.t_decoration_linethrough{
    text-decoration: line-through;
}
.t_decoration_underline{
    text-decoration: underline;
}

.t_indent{
    text-indent: 200px;
}

.t_letter_space{
    letter-spacing: 20px;
}
.t_word_space{
    word-spacing: 30px;
}
.line_height{
    line-height: 60px;
}

.t_shadow{
    text-align: center;
    font-size: 80px;
    color: red;
    text-shadow: 8px 6px 8px yellow;
}

.b_shadow{
    width: 300px;
    height: 250px;
    box-shadow: 5px 8px 10px gray;
}
.d_shadow{
    width: 300px;
    height: 250px;
    filter: drop-shadow(10px 12px 10px yellow);
}

    /* Border types-solid, dotted, dashed, double, inset, outset */
.br_properties{
    border: 5px inset black;
}
.br_properties2{
    border: 15px solid black;
    border-left-color: brown;
    border-right-color: brown;
    padding: 5px;
    margin-left: 35%;
}
.br_properties3{
    border: 15px solid black;
    border-radius: 80%;
}

.box_model{
    border: 5px solid black;
    padding: 40px;
    margin: 50px;
}
.font_family1{
    font-family: 'Courier New', Courier, monospace;
    color: crimson;
}
.font_family2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.font_family3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.font_family4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.font_family5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.font_properties{
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
}

.box{
    width: 200px;
    height: 150px;
    border: 5px solid black;
    font-size: 30px;
    padding: 50px;
    text-align: center;
    background-color: bisque;
    margin: 10px;
}
.box1{
    position: static;
}
.box2{
    position: relative;
    left: 350px;
    top: 40px;
}
.box3{
    position: absolute;
    left: 500px;
    top: 20px;
}
.box4{
    position: fixed;
    bottom: 0px;
    right: 10px;
}
.box5{
    position: sticky;
    top: 10px;
}
.flex-items{
    width: 150px;
    height: 100px;
    margin: 30px;
    background-color: darkgoldenrod;
    font-size: 30px;
    color: azure;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}